.timerButtonBox {
    width: 540px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.timerText {
    color: #f9f9f9;
    font-size: 80px;
}

.timer {
    width: 500px;
    margin: 0 auto;
}